@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  position: static !important;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 